.intro-text-block {
    margin-top: 70px;
}

.intro-text {
    display: block; 
    font-family: 'Space Grotesk', sans-serif;
}

.intro-paragraph {
    margin-top: 35px;
    margin-bottom: 35px;
}

.btn-consultation {
    background-color: #191a23;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    padding: 20px 35px !important; 
    border-radius: 14px;
}

.btn-consultation:hover {
    background-color: #313a3f;
    color: #ffffff;
}

.intro-illustration {
    margin-top: 70px;
}
